.form h2 {
  text-align: center;
}
.form div {
  margin: 2% 0;
}
.form input {
  width: 100%;
  padding: 4px 5px;
  font-size: 1rem;
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
}
